body {
    background: #85b5d9 url(imgs/bg_suiv.png) repeat-x;
    margin: 10px 0 0 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #1e2a34;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000099;
}

a:hover {
    color: #005FE3;
}

h1 {
    display: none;
}

h2 {
    font-size: 20px;
    color: #464646;
    text-align: left;
}

h3 {
    /*border-bottom:1px solid;*/
    /*font-size:16px;*/
    font-size: 17px;
    font-weight: bold;
    /*margin:35px 0 10px 0;*/
    margin: 15px 0 20px 0;
    padding: 0;
    color: #ff921e;
}

h3.second {
    color: #2480e6;
    font-weight: bold;
    border: 0;
    font-size: 13px;
}

h4 {
    margin-top: 15px;
    margin-bottom: 1px;
    font-size: 14px;
    color: #2e6e9e;
}

h5 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 14px;
}

exp {
    color: red;
    font-weight: bold;
}


/* listes (style icones) */

.icones {
    margin: 30px 20px 50px 20px;
    /*max-width: 735px;
    width: 135px;
    height: 140px;*/
    text-align: center;
    display: flex;
}

.column {
    justify-content: space-around;
}

* html .icones {
    margin: 0;
    /* hack pour ie */
}

.icones a {
    text-decoration: none;
    display: block;
    opacity: 0.85;
}

.icones a:hover {
    opacity: 1;
}

img {
    border: 0;
}

#d_site {
    margin: 0 10px;
    position: relative;
    text-align: left;
    background: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 775px;
    display: inline-block;
}

#d_menu_top {
    position: relative;
    text-align: right;
    padding: 5px 0 0 0;
    height: 22px;
    margin-right: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#d_menu_top.croix {
    background: url(imgs/ico_logout.png) no-repeat top right;
}

#d_menu_top a {
    color: #888888;
    padding: 0 31px 0 0;
}

#d_menu_top a:hover {
    color: #6a6a6a;
}

#d_ban_top {
    position: relative;
    background: url(imgs/header.jpg) top right no-repeat;
    height: 145px;
    margin: 0 auto;
}

#d_ban_top img {
    float: left;
}

#d_cont {
    /*position: relative; Bug ie champs form*/
    position: relative;
    margin: 30px 20px 0 20px;
    padding: 5px 0;
}

#d_cont .h2_left {
    position: absolute;
    background: url(imgs/h2_left.png) no-repeat;
    width: 18px;
    height: 54px;
    left: -38px;
    top: 0;
}

#d_cont .h2_suiv {
    position: absolute;
    background: url(imgs/h2_suiv.png) repeat-x;
    height: 54px;
    top: 0;
    left: 18px;
    margin: 0;
    padding: 14px 35px 0 17px;
    color: #ffffff;
    font-weight: normal;
    font-size: 1.3em;
    white-space: nowrap;
}

#d_cont .h2_right {
    position: absolute;
    background: url(imgs/h2_right.png) no-repeat;
    height: 54px;
    width: 15px;
    top: 0;
    right: 0;
}

#bigzone {
    position: relative;
    margin: 70px 0 0 0;
}

#d_ban_bottom {
    position: relative;
    width: 775px;
    height: 12px;
    margin: 50px 0 0 0;
    font-size: 10px;
    text-align: center;
}

#d_menu_bottom {
    position: relative;
    width: 775px;
    margin: 5px auto 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 1em;
}

#d_menu_bottom a {
    color: #ffffff;
}

#d_menu_bottom a:hover {
    text-decoration: underline;
}

#d_pictos {
    position: relative;
    margin-top: 60px;
    text-align: center;
}

#home_texte {
    width: 495px;
    text-align: justify;
    line-height: 1.5em;
}

#home_texte strong,
#home_texte a {
    color: #3459f8;
}

#home_texte a:hover {
    color: #7189f1;
}

#home_texte h3 {
    color: #ff8400;
    font-weight: bold;
}

#temps_generation {
    display: none;
}

#fil_ariane {
    position: absolute;
    background-image: url(imgs/ico_house.png);
    background-repeat: no-repeat;
    padding: 4px 0 15px 33px;
    margin: 10px 0 20px 0;
    font-weight: bold;
    font-size: 0.90em;
    right: 0;
    color: #545454;
}

#fil_ariane a {
    text-decoration: none;
    color: #545454;
}

#fil_ariane a:hover {
    color: #747474;
}

#fil_ariane a span {
    color: #4a8cbd;
}

.tableau {
    border-collapse: collapse;
    width: 100%;
}

.tableau td {
    border: 1px solid #b8bcbe;
    /*b8bcbe*/
    padding: 5px 7px;
}

.tableau th {
    border: 1px solid #b8bcbe;
    /* b8bcbe  */
    padding: 7px;
    color: #ffffff;
}

.tableau tr {
    background-color: #f5f8ff;
}

.tableau tr:hover {
    background-color: #ffe4a3;
}

.tableau tr.header {
    background: url('../../js/jquery/css/redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png') #5c9ccc repeat-x;
    background-attachment: scroll;
    background-position: 50% 50%;
}

.tableau_info th {
    background: #70a8d2;
}

.tableau_noborder {
    border: 0;
    background: none;
}

.tableau_noborder tr,
.tableau_noborder td {
    border: 0;
    background: none;
}

.multipage {
    margin-top: 20px;
    text-align: center;
}

.inscription_champ {
    width: 250px;
}

#inscription textarea {
    height: 97px;
}

.attention {
    background-color: #FFD3D3;
    color: #FF0000;
    border: 1px solid;
    font-size: 14px;
    padding: 10px;
}


/* Alert AJAX */

.notifier {
    z-index: 100;
    margin: 0px 0px;
    padding: 8px 8px;
    border: 1px solid #27537A;
    background-color: #FFFF99;
    color: #000;
    font-weight: bold;
}


/* Affichage libellé - valeur */

.param_line {
    position: relative;
    width: 700px;
    clear: both;
}

.param_libelle {
    position: relative;
    display: block;
    float: left;
    width: 300px;
    min-height: 20px;
    margin: 0 10px 0 0;
}

.param_content {
    position: relative;
    display: block;
    float: left;
    max-width: 400px;
    min-height: 20px;
}


/* Champs de formulaire */

.champ {
    width: 100%;
}

.champ,
.champ_flat {
    padding: 5px 7px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.champ:disabled,
.champ_flat:disabled {
    background-color: #f0f0f0;
}

.champ_large {
    width: 100%;
}

.champ_flat:focus,
.champ:focus {
    border: solid 1px #87b6d9;
    box-shadow: 0 0 5px 1px #95c6ec;
}

.champ_lock {
    background-color: #ffffff;
    color: #000000;
    border: 0;
}

.submit,
.submit_big {
    background: #7aaed5;
    background-image: -webkit-linear-gradient(top, #87b6d9, #2e80cd);
    background-image: -moz-linear-gradient(top, #87b6d9, #2e80cd);
    background-image: -ms-linear-gradient(top, #87b6d9, #2e80cd);
    background-image: -o-linear-gradient(top, #87b6d9, #2e80cd);
    background-image: linear-gradient(to bottom, #87b6d9, #2e80cd);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    border: 0;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 18px 6px 18px;
    text-decoration: none;
}

.submit:hover,
.submit:focus {
    background: #2e80cd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.submit[disabled] {
    border-color: #c1c1c1;
    background: #f0f0f0;
    color: #000;
}

.form_indent {
    margin: 5px 15px 25px 15px;
    line-height: 200%;
}

.label_flat {
    margin-left: 5px;
}


/* Style des checkbox -------------- */

.checkbox:not(:checked),
.checkbox:checked {
    position: absolute;
    left: -9999px;
}

.checkbox:not(:checked)+label,
.checkbox:checked+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.checkbox:not(:checked)+label:before,
.checkbox:checked+label:before {
    content: '';
    position: absolute;
    margin-top: -3px;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    border: solid 1px #d4d2d2;
    background: #fff;
    border-radius: 1px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15);
}

.checkbox:not(:checked)+label:after,
.checkbox:checked+label:after {
    content: '✔';
    position: absolute;
    margin-top: -3px;
    top: 0;
    left: 4px;
    font-size: 14px;
    color: #3e89cf;
    line-height: 1.75;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

.checkbox:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.checkbox:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


/* disabled checkbox */

.checkbox:disabled:not(:checked)+label:before,
.checkbox:disabled:checked+label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

.checkbox:disabled:checked+label:after {
    color: #999;
}

.checkbox:disabled+label {
    color: #aaa;
}


/* accessibility */

.checkbox:checked:focus+label:before,
.checkbox:not(:checked):focus+label:before {
    /*border: 1px dotted blue;*/
}

.libelle_fiche {
    /* Libellï¿½ des champs dans la fiche contact*/
    width: 95px;
}

.valeur_fiche {
    width: 245px;
}


/* Retrait formulaire AJAX */

.retrait_ajax {
    padding-left: 10px;
    padding-top: 8px;
    border-left: 2px solid #E5E5E5;
}


/* Messages JS */

#Message {
    background-image: url(./images/icons_oth/ok.png);
    background-repeat: no-repeat;
    background-position: 3px center;
    background-color: #DAE1FF;
    padding: 0;
    padding-left: 47px;
    padding-right: 7px;
    height: 40px;
    border-color: #ababab;
    line-height: 40px;
    font-size: 11px;
}


/* Menu de suivi des envois */

.suivi_mode {
    list-style: none;
    padding: 0;
    margin: 0;
}

.suivi_mode li {
    float: left;
    text-align: left;
    margin-top: 5px;
}

.suivi_mode a {
    display: block;
    margin-right: 30px;
}

* html .suivi_mode li {
    margin: 0;
    /* hack pour ie */
}

.txt_big {
    font-size: 150%;
    font-weight: bold;
    color: #217fc8;
}


/* Fenetre de connexion ========== */

#connexion_form {
    position: relative;
    border: 1px #d3dbeb solid;
    width: 350px;
    margin: 100px auto 50px auto;
    padding: 15px 0 15px 0;
}

#connexion_form label {
    font-size: 1em;
}

#msgbox {
    text-align: center;
    margin-bottom: 15px;
}

.logintxt {
    color: #000;
    font-size: 1em;
}

.loginerror {
    color: #ce374e;
}

.loginok {
    color: #07c400;
}

.ui-widget-content {
    text-align: left;
}


/* Editeur responsive */

a {
    cursor: pointer;
}

#etape {
    width: 0;
    height: 0;
    visibility: hidden;
}

#bottom {
    padding: 10px 30px;
    font-size: 22px;
    clear: both;
}

#bottom .button {
    float: right;
}

.etape2,
.etape3 {
    visibility: visible !important;
    height: calc(100% - 57px - 57px) !important;
    width: calc(100% - 2px) !important;
}

.etape3 .topmenu {
    height: 30px;
}

.etape3 .menu {
    float: left;
    /*padding:			5px;*/
    padding-left: 20px;
    /* color:				white; */
    cursor: pointer;
    margin-left: 15px;
}

.etape3 .menu img {
    margin-top: 2px;
    padding-right: 10px;
    margin-left: -10px;
}

.etape3 .menu span {
    margin-top: 2px;
    display: block;
    float: right;
    margin-bottom: 5px;
}

.etape3 .menu:hover {
    color: orange;
}

.etape3 .publipostage {
    background: url(../../images/editor/publipostage.png) left center no-repeat;
}

.etape3 .menu_left {
    width: 0;
    height: 0;
    visibility: hidden;
    transition: width 1s;
    float: left;
}

.etape3 .menu_left_deplier {
    width: 25% !important;
    height: 100% !important;
    -moz-box-shadow: 20px 0px 20px -20px #656565;
    -webkit-box-shadow: 20px 0px 20px -20px #656565;
    -o-box-shadow: 20px 0px 20px -20px #656565;
    box-shadow: 20px 0px 20px -20px #656565;
    filter: progid: DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=20);
    visibility: visible !important;
    white-space: nowrap;
    overflow: hidden;
}

.etape3 #m_l_content {
    padding: 5px;
}

.etape3 #work_area {
    width: calc(100% - 28% - 15px);
    height: calc(100% - 144px);
    /*float:				right;*/
    overflow: auto;
    -moz-box-shadow: 0px 0px 6px 1px #a6c9e2;
    -webkit-box-shadow: 0px 0px 6px 1px #a6c9e2;
    -o-box-shadow: 0px 0px 6px 1px #a6c9e2;
    box-shadow: 0px 0px 6px 1px #a6c9e2;
    filter: progid: DXImageTransform.Microsoft.Shadow(color=#a6c9e2, Direction=NaN, Strength=6);
    border: 1px solid #a6c9e2;
}

#sortable {
    background: #d6d6d6;
    min-height: 20px;
    padding-bottom: 5px;
}


/*#work_area *[conftype]:not([conftype=""]):hover, #work_area .fulleditor:hover, #work_area *[contentEditable=true]:hover
{
	border:		2px grey dashed;
	cursor:		pointer;
	margin:		-2px !important;
}*/

.editor_large {
    width: calc(100vw - 140px);
}

.etape2 .colone {
    float: left;
    width: 25%;
    text-align: center;
    color: #729fcf;
    font-size: 16px;
    margin-top: 20px;
    min-width: 220px;
}

.etape2 .cadre {
    margin-left: calc((100% - 240px) / 3);
    width: 206px;
    height: 250px;
    padding: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

.etape2 .container {
    height: 100%;
    overflow: auto;
}

.etape2 a {
    font-size: 22px;
}

#editor_tabs {
    width: 26% !important;
    float: left;
    margin-right: 15px;
}


/**
* CSS etape 1 : Selection du mode
*/

.etape1 {
    visibility: visible !important;
    height: calc(100% - 57px - 57px - (100vh - (100% - 57px - 57px))) !important;
    width: 100% !important;
}

.etape1 .container {
    margin-top: calc((100vh - (100vh - 57px - 57px)));
}

.etape1 .colone {
    float: left;
    width: 33%;
    text-align: center;
}

.etape1 .cadre {
    border: 1px #729fcf solid;
    width: 215px;
    height: 160px;
    padding: 3px;
    cursor: pointer;
    background-color: #ffffff;
    margin: 10px;
}

.etape1 h3,
.etape2 h3 {
    border: none;
    color: #729fcf;
    font-size: 20px;
}

.etape1 .type_actif,
.etape2 .type_actif {
    background-color: #fcfdfd;
}


/**
* jQuery
*/


/*.ui-state-highlight { border: 2px orange dashed;}*/

.blk {
    margin: 5px;
    cursor: move;
}

#blklist {
    height: calc(100vh - 80px - 30px - 62px);
    overflow-y: scroll;
    overflow-x: hidden;
}

#blklist .elem {
    cursor: move;
    margin-bottom: 10px;
    padding: 2px;
    border: 1px white solid;
}

#blklist .elem:hover {
    border: 1px orange solid;
}


/**
* Menu de survol
*/

.elemenu {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.elemenu img {
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
    cursor: pointer;
}

.elem:hover .elemenu {
    display: block;
}


/**
* Panneau de gauche: IMAGES
*/

#add_img {
    background: url(../../images/editor/ajouter.png) left center no-repeat;
    padding-left: 25px;
    margin-bottom: 15px;
}

#img_list {
    overflow-y: auto;
    height: calc(100vh - 62px - 62px - 100px);
}

#img_list>div {
    width: 50%;
    float: left;
    text-align: center;
    cursor: pointer;
}

#img_list img {
    width: 90%;
}


/**
* Panneau de gauche: Options des elements
*/

.label_editor {
    padding-top: 0;
    margin: 10px 0;
}

.input {
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.input input[type=text],
.input input[type=range],
.input select {
    width: 90%;
}

.editor_large h4 {
    padding-top: 10px;
}

.editor_large .submit {
    width: 128px;
    float: left;
    padding: 10px;
    margin: 5px 10px;
}


/* Loader Ajax */

#loading_div {
    margin-top: -20px;
    padding: 0 15px;
}


/* Progressbar statistiques */

.ui-progressbar {
    position: relative;
}

.progress-label {
    position: absolute;
    width: 100%;
    top: 5px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}


/* Prévisualisation des messages SMS ------------------------- */

#sms_compose_zone {
    position: relative;
    min-height: 485px;
}

#sms_compose_zone .compose {
    position: relative;
    float: left;
    width: calc(100% - 330px);
}

#phone_sms_preview {
    position: relative;
    float: right;
    width: 301px;
    height: 584px;
    top: -30px;
    background: #eeeeee url(../../images/phone_preview_bg.png) no-repeat left top;
}

#phone_sms_preview .hour {
    position: absolute;
    color: #ffffff;
    left: 243px;
    top: 80px;
    width: 34px;
    height: 17px;
    font-size: 11px;
    text-align: center;
}

#phone_sms_preview .sender {
    position: absolute;
    color: #ffffff;
    left: 40px;
    top: 106px;
    width: 120px;
    font-size: 14px;
}

#phone_sms_preview .message {
    position: absolute;
    left: 25px;
    top: 143px;
    width: 253px;
    height: 300px;
    overflow-y: auto;
}

#phone_sms_preview .message .bulle {
    position: relative;
    padding: 15px;
    margin: 20px 15px 20px 23px;
    color: #757575;
    font-size: 14px;
    background: #ffffff;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0;
}

#phone_sms_preview .message .bulle:after {
    content: "";
    position: absolute;
    border-width: 13px 10px 0 0;
    border-style: solid;
    border-color: transparent #ffffff;
    display: block;
    width: 0;
    bottom: 0;
    left: -10px;
}

#phone_sms_preview .prev,
#phone_sms_preview .next {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    top: 107px;
    cursor: pointer;
}

#phone_sms_preview .prev {
    left: 222px;
    border-width: 8px 15px 8px 0;
    border-color: transparent #ffffff transparent transparent;
}

#phone_sms_preview .next {
    left: 250px;
    border-width: 8px 0 8px 15px;
    border-color: transparent transparent transparent #ffffff;
}

#ssmmss{
    border: 1px solid black;
}